*, ::before, ::after{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Sofia&display=swap');

body{
    background: #FFFFFF;
}

div.container__fluid{
    width: 90%;
    padding: 30px;
}

section.landing__page{
    background: #ffffff;
}

nav.nav_head{
    display: flex;
    justify-content: space-between;
}

a.nav_head{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    line-height: 20px;

    span.red{
        color: #EA524D;
    }
}

ul.main{
    list-style: none;
    display: flex;

    li.main_link{
        margin-right: 20px;

        a.link{
            text-decoration: none;
            color: #000000 !important;
            font-size: 20px;

            .active{
                background: #EA524D;
                border-radius: 4px;
            }
        }
    }
}

a.login_button{
    background: #FFFFFF;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    font-family:  'Sofia';
    font-style: normal;
    text-decoration: none;
    font-weight: 550;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

div.body_div{
    margin-top: 100px;
}

div.main_content{

    h1.main-head {
        position: relative;
        font-family:  'Noto Sans TC';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 60px;
        line-height: 80px;
        color: #000000;
        margin-bottom: 10px;

        span.red{
            color: #EA524D;
        }
    }

    div.effect {
        position: sticky;
        transform: rotate(8.88deg);
        position: absolute;
        margin-top: 60px;
        left: 550.13px;
        top: 90.24px;

        svg{
            width: 75px;
            height: 65px;
        }
    }

    p.main-para {
        font-size: 22px;
        width: 70% !important;
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 24px;

        span.red{
            color: #EA524D;
        }
    }

    div.meta {
        margin-top: 50px;

        a.contact_us{
            font-family:  'Noto Sans TC';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            text-decoration: none;
            margin-right: 20px;
            line-height: 24px;
            background: #000000;
            border-radius: 15px;
            padding: 13.5px;
            color: #FFFFFF;
        }

        a.testimonials{
            font-family: 'Noto Sans TC';
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            padding: 11.5px;
            text-decoration: none;
            color: #000000;
            background: #FFFFFF;
            border: 4px solid #000000;
            box-sizing: border-box;
            border-radius: 15px;
        }
    }
}

div.row{
    div.col{
        display: grid;
    }
}

div.register{
    display: flex
    ;
    p.head{
        font-size: 24px;
        color: #000000;
        font-weight: 550;
        top: 130px;
        position: absolute;

        span.dash{
            background-color: #000000;
            width: 500px;
            height: 0.6px;
            top: 16px;
            position: absolute;
            transform: rotate(9.3 deg);
            padding: 1.3px;
            margin-left: 20px;
        }
    }
}

footer.footer{
    position: absolute;
    margin-top: 60px;
    left: 40.13px;
    top: 650.24px;
    color: #000000;

    p.copyright{
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;

        span.c{
            color: #000000;
            font-size: 16px;
            font-weight: 550;
        }
    }
}